/* src/css/HomeTextFade.css */

.Text-Section {
  background-color: black;
  min-height: 300vh;
  display: flex;
  align-items: start;
  justify-content: center;
  /* padding: 100px; */
}

.text-container {
  width: 100%;
  text-align: left;
  /* height: 100vh; */
  padding: 80px 10% 0px 15%; /* Increased padding-left for desktop balance */
  position: sticky;
  top: 100px;
  left: 0;
}

.line {
  line-height: 1.4;
}

.char-span {
  display: inline-block;
  font-family: var(--font-primary);
  font-size: 40px;
  font-weight: 200;
  color: #555;
}

.char-span.visi {
  visibility: hidden;
}

.space {
  display: inline-block;
}

.word-span {
  display: inline-block;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .text-container {
    padding: 60px 8% 0px 8%;
    top: 80px;
    text-align: center;
  }

  .char-span {
    font-size: 24px;
  }
  
  .space {
    width: 0.5em;
  }
}
