/* src/css/HomeTextFade.css */

.Text-Section {
  background-color: black;
  min-height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  /* padding: 100px; */
}

.text-container {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 80px 100px 0px 0px;
  position: relative;
  left: 24%;
  top: 24%;
}

.line {
  line-height: 3em;
}

.char-span {
  display: inline-block;
  font-family: var(--font-primary);
  font-size: 40px;
  font-weight: 200;
  color: #555;
}

.char-span.visi {
  visibility: hidden;
}

.space {
  display: inline-block;
}

.word-span {
  display: inline-block;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .text-container {
    padding: 60px 20px 0px 20px;
    top: 80px;
    text-align: left;
  }

  .char-span {
    font-size: 24px;
  }

  .space {
    width: 0.5em;
  }
  .line{
    line-height: 2.1em;
  }
}
