/* src/css/OurServices.css */

.our-services {
  padding: 100px;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  /* gap: 50px; */
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.service-card {
  background-color: white;
  /* border-radius: 8px; */
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 420px; /* Fill the grid cell height */
}

.service-image-container {
  width: 100%;
  height: 20vh;
  overflow: hidden;
  flex-shrink: 0; /* Prevent image from shrinking */
}

.service-image {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.service-image:hover {
  transform: scale(1.05);
}
.service-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
  flex-grow: 1;
}

.service-content h3 {
  margin-bottom: 10px;
  line-height: 1.3em;
}
.ourservices-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive */
@media (max-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .our-services {
    padding: 50px 5%;
  }
}
