/* src/css/Case-Studies.css */

.home-case-studies-section {
  padding: 100px;
  background-color: var(--primary-color) !important;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.Home-case-studies-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 45px;
}
.Home-case-studies-item {
  width: 31%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Home-case-studies-item-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.Home-case-studies-item-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Home-case-studies-item-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.Home-case-studies-item-img img:hover {
  transform: scale(1.1);
}

.case-studies-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}